{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/balance" method="post">
        <div class="mb-3">
            {% if balance %}
            <h1>Account Balance: {{balance}}</h1>
            <label for="add">Choose an amount to add:</label>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="add" id="add" placeholder="Amount to Add" type="text">
            {% else %}
            <h1>Account Balance: ERROR (please refresh page)</h1>
            {% endif %}
            </div>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
{% endblock %}
